

<div class="formulario">
    
    <div class="form_">
        
        <form action="" >
            <h3 style="font-family: Poppins;">Regístrate</h3>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="URL">
            <input type="password" placeholder="Contraseña"> 
            <input type="password" placeholder="Repetir contraseña">
            <button style="cursor: pointer;" routerLink="/register">Log in</button>
        </form>
    </div>
</div>