


<div>
    <header class="bg-black" >
        <div class="header-items">
            <a href="" routerLink="/home">HOME</a>
            <a href="" routerLink="/register">REGISTER</a>
            <a href="" routerLink="/profile">PROFILE</a>
            <a href="" [routerLink]="['/books']"  >BOOKS</a>
            <a href="" [routerLink]="'/addbooks'" >AddBooks</a>
            <a href="" [routerLink]="['/updatebooks']"  > UpdateBooks</a>
            <a href="" [routerLink]="['/login']"  > LOGIN</a>
        </div>
    </header>
</div>
